// COLORS
$lightBlue: #6da8bc;
$default: #fff;
$black: #000;
$gray: #808080;
$lightGreen: #029a02;
$green: #008000;
$lightGray: #cbc8c8;


// VARIABLES
$widtExecutant: 100px;
$btnRadius: 6px;
$buttonSliderPaddingTop: 5px;
$buttonSliderPaddingBottom: 5px;
$buttonSliderPaddingLeft: 20px;
$buttonSliderPaddingRight: 20px;
$defaultWidth: 100%;
$backlogWidth: 450px;
$backlogHeight: 500px;
$backlogColor: #beb1b1;
$searchWidthMagnifierImg: 20px;
$searchHeightMagnifierImg: 20px;


%title-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}